html, body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
  font-family: Lato, "Segoe UI", Avenir, Ubuntu, Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  color: #333;
}

body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #000;
  color: #fff;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#vidtop-content {
	top: 0;
	color: #fff;
}

.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}

@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

@media (min-width: 768px) {
  body {
    padding-top: 100px;
  }
}

article {
  display: block;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

p {
  color: #fff;
}

a {
  color: #939393;
  text-decoration: none;
  transition: color 0.2s ease;
  font-weight: bold;
}

a:hover {
  color: #e96656;
}

svg {
  width: 50px;
  height: 50px;
  fill: #fff;
  transition: fill 0.2s ease;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -5px;
}

svg:hover {
  fill: #e96656;
}

#logo {
  width: 9%; /* Adjust this percentage according to your preference */
  max-width: 20%; /* Ensure that the image doesn't exceed its original size */
}

footer {
  font-size: 15px;
  margin-top: auto;
  padding: 10px;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 5px;
  width: 100%;
  background-color: #000;
}

footer a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  color: #e96656;
}
